body {
    width: 100vw;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    background: linear-gradient(to top, #d1d1dac3, #d1d1dac3), url("/6/assets/pictures/Cityoflondontowerbridge.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.container {
    position: absolute;
    background: rgb(59, 59, 244);
    background: linear-gradient(163deg, rgb(80, 80, 227) 0%, rgba(143, 87, 238, 1) 47%, rgb(152, 48, 226) 100%);
    width: 30%;
    height: 75%;
    z-index: 1;
    color: #fff;
    border-radius: 1%;

}

.flex {
    display: flex;
    flex-direction: column;

}

.login-form {
    width: 409px;
    height: 380px;
    justify-content: space-between;
}

.padding {
    padding: 30px;
}

.top-items {
    height: 344px;
    justify-content: space-between;
    align-items: center;
}
.mount{
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 40px;
    
}

h3 {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 30px;
}

.put {
    border: 0;
    outline: 0;
    height: 31px;
    width: 300px;
    background-color: inherit;
}

.border {
    border-bottom: 1px solid #fff;
}

input::placeholder {
    color: #fff
}

.remember {
    width: 184px;
    height: 3px;
    cursor: pointer;
    padding-left: 45px;
}

.forget {
    justify-content: center;
    align-items: center;
    width: 412px;
    z-index: 2;
    padding-top: 416px;
}

.btn {
    border: none;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    align-self: center;
}

a {
    color: #fff;
    text-decoration: none;
}